.container {
  position: relative;
  background-color: #110229;
  width: 100%;
  padding: 5vh 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.container:hover {
  transform: scale(1.05);
}

.backgroundIcon {
  position: absolute;
  bottom: 10px;
  right: 30px;
  font-size: 150px;
  color: #28214d;
  z-index: 0;
}

.container:hover .backgroundIcon {
  opacity: 1;
  transform: scale(1.2);
}

.container.mobile {
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
}

.textSection {
  text-align: left;
  color: #ffffff;
  z-index: 1;
}

.textSection.mobile {
  width: 100%;
  text-align: center;
}

.textSection h3 {
  margin-bottom: 10px;
  color: #00e6e6;
  text-transform: uppercase;
}

.textSection h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.textSection .separator {
  width: 50px;
  height: 4px;
  background-color: #00e6e6;
  margin-bottom: 20px;
}

.textSection p {
  font-size: 1rem;
  line-height: 1.5;
  z-index: 10;
}

.infoSection {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 4vh;
}

.infoSection.mobile {
  width: 100%;
  justify-content: center;
}

@keyframes slide {
  0% {
    left: -30px;
  }
  100% {
    left: 100%;
  }
}

@media screen and (max-width: 768px) {
  .separator {
    display: block;
    margin: 0 auto;
  }
}
