.navbar {
  align-items: center;
  background: #282f37;
  background-color: #282f37;
  padding: 12px 23px;
  border-bottom: 2px solid #1a1f24;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 135px;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20;
}

.navItem a {
  text-decoration: none;
  font-size: 30px;
  transition: color 0.3s;
  font-weight: bolder;
}

.navItem a:hover {
  color: #ddd;
}

.navbarContent {
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.colors {
  color: aqua;
}

.navbarTitle {
  font-size: 30px;
  font-weight: bolder;
  color: #ddd;
}
